@import forms.usermanagement.PasswordChangeForm

@import controllers.UserAccountController

@import helper._

@(changeForm: Form[PasswordChangeForm])

@main(Messages("mycane.change.password.title")) {

	<h1>@Messages("mycane.change.password.title")</h1>
	<p>
	@form(routes.UserAccountController.doChangePassword) {
	   
       @if(changeForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@changeForm.globalError.message</span>
     	</p>
       }

	   @_passwordPartial(changeForm)
           
		<input type="submit" value="@Messages("mycane.change.password.cta")" class="btn btn-primary">
	}
	</p>
}
