@import forms.usermanagement.PasswordResetForm

@import helper._

@(resetForm: Form[PasswordResetForm])

@main(Messages("mycane.password.reset.title")) {

	<h1>@Messages("mycane.password.reset.title")</h1>
	<p>
	@form(routes.UserAccountController.doResetPassword) {
	   
       @if(resetForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@resetForm.globalError.message</span>
     	</p>
       }
       
        @input(
   			resetForm("token"),
   			'_label -> "../../../../../usermanagement/public",
   			'_showConstraints -> false
   		
   		) { (id, name, value, args) =>
		    <input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
		}
	   
	   @_passwordPartial(resetForm)
           
		<input type="submit" value="@Messages("mycane.password.reset.cta")" class="btn btn-primary">
	}
	</p>
}
